h1,.price{
    display:inline-block;
}

.container{
    display:flex;
    gap:40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height:100vh;
    align-items: center;
    margin:100px;
}

.container div{
    border-radius: 20px;
    padding:0px;
    background-color: rgb(216, 213, 213);
}

.container>.first>.a,.container>.third>.a{
    height:25%;
    background-color:rgb(107, 107, 107);
    color:white;
    border-radius:40px 0px 0px 40px;
}

.container>.first>.button,.container>.second>.button,.container>.third>.button{
    background-color:blueviolet;
    color:white;
    padding:10px;
    width:100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding-left:20px;
}

.container>.second>.a{
    height:25%;
    background-color:blueviolet;
    padding:0px;
    color:white;
    border-radius:40px 0px 0px 40px;
}

p{
    padding:10px;
}

@media (max-width:680px){
    .container{
        display:flex;
        gap:40px;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        height:100vh;
        flex-wrap: wrap;
        align-content:center;
    }
}